---
import { Icon } from "astro-icon/components";
import type { Todo } from "./NewTodo.astro.0.mts";

interface Props {
	todo: Todo;
}

const { todo } = Astro.props;
const { id, task, done } = todo;
---

<todo-task>
	<div class="flex items-center gap-4">
		<input
			type="checkbox"
			name="done"
			id="done"
			checked={done}
		/>
		<p class="text-lg grow">{task}</p>
		<button data-id={id}>
			<Icon
				name="lucide:trash-2"
				class="text-red-500"
			/>
		</button>
	</div>
</todo-task>

<script>
	class Todo extends HTMLElement {
		constructor() {
			super();
		}
	}

	customElements.define("todo-task", Todo);
</script>
